# On-board peripherals
NET "clk" LOC = P80 | IOSTANDARD="LVCMOS33";
NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 100 MHz HIGH 50%;

NET "o<0>" LOC="P205" | IOSTANDARD="LVCMOS33";
NET "o<1>" LOC="P204" | IOSTANDARD="LVCMOS33";
NET "o<2>" LOC="P203" | IOSTANDARD="LVCMOS33";
NET "o<3>" LOC="P200" | IOSTANDARD="LVCMOS33";
NET "o<4>" LOC="P199" | IOSTANDARD="LVCMOS33";
NET "o<5>" LOC="P198" | IOSTANDARD="LVCMOS33";
NET "o<6>" LOC="P197" | IOSTANDARD="LVCMOS33";
NET "o<7>" LOC="P196" | IOSTANDARD="LVCMOS33";

#NET "ctrl" LOC="P194" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "sw[1]" LOC = P123 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[2]" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[3]" LOC = P120 | IOSTANDARD = LVTTL | PULLUP;

#NET "tx" LOC = P38 | IOSTANDARD = LVTTL;
#NET "rx" LOC = P58 | IOSTANDARD = LVTTL;
